<div class="container">
    <div class="icono-flex">
        <i class="bi bi-arrow-left" 
           data-bs-toggle="tooltip" 
           data-bs-placement="top"
           (click)="salir()"
           title="Cerrar sesión"></i>
        <h1 class="mt-5">Bienvenid@, <small>{{wsService.usuario.name | titlecase}}</small></h1>
    </div>
    
    <!-- <hr> -->


    <ul class="nav nav-tabs justify-content-center mt-5 mb-3">
        <li class="nav-item" *ngFor="let element of components">
          <a class="nav-link" 
             aria-current="page"
             (click)="changeView(element.id)"
             style="cursor: pointer;"
            [ngClass]="{'active': element.active}">{{element.name}}</a>
        </li>
    </ul>

    <!-- <div class="row">
        <div class="col-md-6">
            <app-lista-usuarios></app-lista-usuarios>
        </div>
        <div class="col-md-6">
            <app-chat></app-chat>
        </div>
    </div> -->

    <!-- <div class="row">
        <div class="col-md-12">
            <app-lista-usuarios class="mt-5"></app-lista-usuarios>
        </div>
    </div> -->

    <app-lista-usuarios *ngIf="components[0].active"></app-lista-usuarios>
    <app-chat *ngIf="components[1].active"></app-chat>
</div>
<app-footer></app-footer>