<div class="row justify-content-center">
    <div class="col-md-8">
        <ul class="list-group">
            <li class="list-group-item" 
                *ngFor="let user of usuarios "
                (click) = "startChat(user.nombre, user.id)"
                style="cursor: pointer;">
                {{user.nombre | titlecase}}

                <span class="badge bg-primary">
                    {{user.sala}}
                </span>
                <br>
                <span class="badge bg-success">
                    {{user.id}}
                </span>
                <span class="badge rounded-pill bg-danger"
                      *ngIf="user.notificaciones > 0"
                      style="margin-left: 20px;">{{user.notificaciones}}</span>
            </li>
        </ul>
    </div>
</div>
